/*
* { border: 1px solid red; }
*/

body,html{
	width:100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	font: 18px 'Helvetica Neue',sans-serif;
	background: #DBECEB; 
	color: #FF4169; 
	text-align: center;
}


.rwd-video {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.rwd-video iframe,
.rwd-video object,
.rwd-video embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#ritualinterfacepanel #yourtextpanel, #ritualinterfacepanel #yourothertextpanel{color:#e3a9a9}
.menusec{background-color: #f893a8 !important;}

.panel{
	background: #DBECEB; 
	color: #FF4169; 
	position: fixed;
	top: 60px;
	left: 0px;
	width: calc(100% - 40px);
	height: calc(100% - 60px - 40px);
	margin: 0px;
	padding: 20px;
	overflow: scroll;
}

.logocontainer{
    width: 50%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0px;
	align-content: center;
	text-align: center;
}

.panelcover{
	background: #DBECEB; 
	color: #FF4169; 
	position: fixed;
	top: 00px;
	left: 0px;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 0px;
	padding: 20px;
	overflow: scroll;
}

#vizpanel{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 400;
}

#yourtextpanel{
	position: absolute;
	width: calc(40% - 10px);
	height: calc(100% - 120px);
	margin: 0px;
	padding: 0px;
	top: 60px;
	left: 5px;
	z-index: 500;	
	font: 16px Helvetica,Arial,sans-serif;
	text-align: left;
}

#yourothertextpanel{
	position: absolute;
	width: calc(40% - 10px);
	height: calc(100% - 120px);
	margin: 0px;
	padding: 0px;
	top: 60px;
	right: 5px;
	z-index: 500;	
	font: 16px Helvetica,Arial,sans-serif;
	text-align: right;
}


#loginpanel{
	z-index: 900;
}

#menupanel{
	z-index: 800;
}

#datacollectionpanel{
	z-index: 400;
}

#ritualwaitroompanel{
	z-index: 400;
}

#ritualinterfacepanel{
	z-index: 500;
	background-color: #DBECEB;
}

#couplespanel{
	z-index: 400;
}

#assemblypanel{
	z-index: 400;
}

#notification{
	z-index: 850;
}

#toMenu{
	position: fixed;
	top: 5px;
	right: 5px;
	z-index: 850;
	width: 50px;
	height: 50px;
	background: url(../images/hamburgher.png);
}

.panel a{
	text-decoration: none;
}

#gotoritualwaitroom, #gotocouples, #gotoassembly{
	display: none;
}

.menuitem , .menulink{
	display: block;
	text-decoration: none;
	margin: 10px;
	padding: 20px;
	text-align: center;
	line-height: 30px;
	width: calc(100% - 60px);
	background: #FF4169;
	color: #ffffff;
	animation: hton 1s;
	font: 18px 'Helvetica Neue',sans-serif;
	border: 0px;
}

.menuitem:hover , .menulink:hover{
	background: #78299B;
	color: #ffffff;
	animation: ntoh 1s;
}

@keyframes hton {
  from {background-color: #78299B; color: #ffffff;}
  to {background-color: #FF4169; color: #ffffff;}
}

@keyframes ntoh {
  from {background-color: #FF4169; color: #ffffff;}
  to {background-color: #78299B; color: #ffffff;}
}

/* for some old chrome mobile versions*/
.datacollectionform #dove, .datacollectionform #cosa, .datacollectionform #messaggio{background-color: #fff }

/* questa è una pezza nel caso di doppia-schermata */
#defaultCanvas1{display:none}

.userinwaitingroom{
	padding: 10px;
	margin: 10px;
	line-height: 25px;
	width: calc(50% - 40px);
	overflow: hidden;
}

.userabsent{
    background: #aaa;
    color: #fff;
}

.userwaiting{
	background: #FF8000;
	color: #ffffff;
}

.usersinritual{
	background: #00FF00;
	color: #000000;
}

.useroutofritual{
	background: #FF0000;
	color: #ffffff;
}

#watingmessage{
	padding: 10px;
	margin: 10px;
}

#joinritualbutton{
	display: none;
}

.fieldcontainer{
	margin-bottom: 25px;
}

.fieldlabel, .fieldlables{
	font: 20px 'Helvetica Neue',sans-serif;
}

.fieldholder{
	margin-top: 12px;
	margin-bottom: 45px;
}

.fieldholder input{
	margin-left: 0px;
}

.fieldholder input[type="text"]{
	width: 100%;
	font: 20px Helvetica,Arial,sans-serif;
}

.fieldholder label{
	margin-right: 15px;
	color: #aaaaaa;
	font: 15px 'Helvetica Neue',sans-serif;
	width: 150px;
	overflow: hidden;
}

.fielditem input , .fielditem select{
	font: 20px Helvetica,Arial,sans-serif;
	color: #000000;
	background: #FFFFFF;
	border: 0px;
}


.datacollectionform{
	width: calc(100% - 500px);
	height: 100%;
	padding-left: 250px;
	padding-right: 250px;
}

.maintitle{
	font: bold 30px 'Helvetica Neue',Arial,sans-serif;
	color: #FF0000;
	text-shadow: #fff 0 0 10px;
}

.menulinktosite,.menulinktosite:visited{
	font: 12px 'Helvetica Neue',Arial,sans-serif;
	text-decoration: none;
	color: #AAAAAA;	
}

.menulinktosite:hover{
	text-decoration: underline;
}

.hero{
	margin-bottom: 25px;
}

#timeselector{
	text-align: center;
	font: bold 25px Helvetica,Arial,sans-serif;
}

@media all and (max-width: 800px) {
	.datacollectionform{
		width: calc(100% - 60px);
		height: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
}


/* Container delle immagini */
.image-section {
    margin-top: 20px;
    text-align: left;
}

.image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    vertical-align: middle;
    align-content: center;
    align-items: center;
}

/* Container di ciascuna immagine */
.image-item {
    flex: 1;
    margin: 5px;
    text-align: left;
}

/* Titolini sopra le immagini */
.image-title {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
	margin-top: 20px;
}

/* Stili per mobile */
@media only screen and (max-width: 640px) {
    .image-row {
        flex-direction: column; /* Ogni immagine diventa una riga */
    }

    .image-item {
        margin: 10px 0;
		text-align: center;
    }

    .partner-image {
        max-width: 150px; /* Riduzione delle dimensioni delle immagini per mobile */
    }

    .small-partner-image {
        max-width: 100px; /* Riduzione delle dimensioni delle immagini per mobile */
    }

	.logocontainer{
		width: 100%;
	}
	.image-section {
		text-align: center;
	}
}

.descrizione{
	text-align:center;font-size:13px;font-weight:bold
}
.descrizione a{
	color:#FF4169
}